In [1]:

# create a list of numbers with the following string and obtain the mean 
x  = """125

127



121


135


139


131

139


137


141


143


139


145


147


148


151


153"""

In [3]:
list_numbers  = x.split("\n")
list_numbers = [int(i) for i in list_numbers if i!= '']
list_numbers

[125,
 127,
 121,
 135,
 139,
 131,
 139,
 137,
 141,
 143,
 139,
 145,
 147,
 148,
 151,
 153]

In [4]:
import numpy as np 

np.mean(list_numbers)

138.8125

In [7]:
np.mean([120,
127,121,135,135,131,139,137,140,143,139,145,143,148,151,153])

137.9375

In [8]:
160 - 137.9375

22.0625

### Quiz

In [9]:
ns = [120,127,121,135,135,131,139,137,140,143,139,145,143,148,151,153]

In [10]:
# 1.0
np.mean(ns)

137.9375

In [11]:
#2 
actual = 155

unexp_earnings = actual-np.mean(ns)
unexp

17.0625

In [21]:
# 3 SUE standardized unexpected earnings 

SUE = (actual - np.mean(ns))/np.std(ns,ddof = 1)

In [22]:
SUE

1.7655454974066496

In [ ]:
ANSWER: 176

In [16]:
# 4 Expected earnings for 2017

analyst_exp_earns = [151,149,160,159,145,150]
ee = np.mean(analyst_exp_earns)
ee

152.33333333333334

In [18]:
# 5 Unexpected earnings 
# actual -ee

155 -ee

2.666666666666657

In [20]:
#6 SUE standardized un-expected earnigns 

(155-ee)/np.std(analyst_exp_earns,ddof = 1)

0.450320263446436

In [ ]:
#7 You modify the strategy and divide the firms into quintiles based on ascending order of SUE. What should you do with the lowest quintile and the highest quintile?

Short the lowest qunitile and long the highest quintile

In [ ]:
#8   What is the problem with long only Piotroski startegy?

Exposure to Market risk

In [ ]:
# 9  The stock price of company XYZ increases from Rs. 100 to Rs. 120 and that of company ABC decreases from Rs. 195 to Rs. 150. What will a person suffering from Disposition effect do?
Sell XYZ and hold ABC

In [ ]:
#10 What should be the holding period in case of PEAD?

Around 2 months